# Phase 1 Project

For this project, I am tasked with analyzing two datasets—"AviationData.csv" and "USState_Codes.csv"—to assist a company in its decision to expand into the aviation industry by purchasing aircraft. The analysis will focus on cleaning the data and extracting actionable insights to guide the head of the new aviation division in selecting aircraft that pose the lowest risk for commercial and private operations.
ess decisions.

### Aviation Dataset:
The "AviationData.csv" dataset is an extensive collection of historical aircraft accidents and incidents, documenting key information about each event. This data spans both commercial and private aviation, covering a wide range of locations, primarily within the United States but also internationally. 
 
### US State Codes Dataset:
The "USState_Codes.csv" dataset provides a mapping of state codes and names, which is useful for geospatial analysis when identifying accident locations across different U.S. states.

### Key Goals:
By combining insights from both datasets, the objective is to:
1. Clean and prepare the data to ensure accuracy and consistency.
2. Translate these findings into actionable insights that will help the head of the new aviation division make informed decisions on which aircraft models to prioritize for safe and efficient operations.

This analysis will ultimately provide a risk-based assessment of different aircraft, supporting safer and smarter business decisions.

### Getting Started

1. Import pandas and set the standard alias
2. Import matplotlib.pyplot and set the standard alias

In [87]:
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline 
import seaborn as sns

### Load the data

The data for this activity is stored in a file called 'AviationData.csv'

In [88]:
#Loading the data set
df = pd.read_csv('AviationData.csv', encoding = 'latin', low_memory=False )

Now, display the head of the DataFrame to ensure everything loaded correctly.

In [89]:
#Display first 5 records
df.head ()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In this analysis, I will begin by exploring the structure and size of the aviation dataset using df.columns and df.shape. This will provide an overview of the available variables and the total number of records. By identifying key columns such as aircraft details, accident locations, and injury counts, I will gain a better understanding of the data.
Next, I will apply df.describe() to generate summary statistics, which will offer valuable insights into the numeric variables, including the number of fatalities, serious injuries, and uninjured individuals.

In [90]:
# Return the dimensions of the DataFrame
df.shape

(88889, 31)

In [91]:
#Return the columns in the DataFrame
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [92]:
# Summary statistics for the numeric columns in a DataFrame
df.describe

<bound method NDFrame.describe of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26
88885  20221227106494           Accident      ERA23LA095  2022-12-26
88886  20221227106497           Accident      WPR23LA075  2022-12-26
88887  20221227106498           Accident      WPR23LA076  2022-12-26
88888  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country   Latitude   Longitude Airport.Code  \
0      MOOSE CREEK, ID  United States        NaN         NaN          NaN
1       BRIDGEPORT, CA  United States        NaN         NaN          NaN
2        Saltville, VA  United States  36.922223  -81.878056          NaN
3           EUREKA, CA  United States        NaN         NaN          NaN
4           Canton, OH  United States        NaN         NaN          NaN
...                ...            ...        ...         ...          ...
88884    Annapolis, MD  United States        NaN         NaN          NaN
88885      Hampton, NH  United States        NaN         NaN          NaN
88886       Payson, AZ  United States    341525N    1112021W          PAN
88887       Morgan, UT  United States        NaN         NaN          NaN
88888       Athens, GA  United States        NaN         NaN          NaN

      Airport.Name  ... Purpose.of.flight         Air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
88884          NaN  ...          Personal                 NaN
88885          NaN  ...               NaN                 NaN
88886       PAYSON  ...          Personal                 NaN
88887          NaN  ...          Personal  MC CESSNA 210N LLC
88888          NaN  ...          Personal                 NaN

      Total.Fatal.Injuries Total.Serious.Injuries Total.Minor.Injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
88884                  0.0                    1.0                  0.0
88885                  0.0                    0.0                  0.0
88886                  0.0                    0.0                  0.0
88887                  0.0                    0.0                  0.0
88888                  0.0                    1.0                  0.0

      Total.Uninjured Weather.Condition  Broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
88884             0.0               NaN                    NaN
88885             0.0               NaN                    NaN
88886             1.0               VMC                    NaN
88887             0.0               NaN                    NaN
88888             1.0               NaN                    NaN

        Report.Status Publication.Date
0      Probable Cause              NaN
1      Probable Cause       19-09-1996
2      Probable Cause       26-02-2007
3      Probable Cause       12-09-2000
4      Probable Cause       16-04-1980
...               ...              ...
88884             NaN       29-12-2022
88885             NaN              NaN
88886             NaN       27-12-2022
88887             NaN              NaN
88888             NaN       30-12-2022

[88889 rows x 31 columns]>

In [93]:
df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

### Data Cleaning

The goal of data cleaning is to prepare the dataset for analysis by addressing missing values, which can skew results and lead to inaccurate conclusions. Filling missing values appropriately ensures the integrity of the data.

In [94]:
null = (df.isnull().sum() / len(df)) * 100
print(null)

Event.Id                   0.000000
Investigation.Type         0.000000
Accident.Number            0.000000
Event.Date                 0.000000
Location                   0.058500
Country                    0.254250
Latitude                  61.320298
Longitude                 61.330423
Airport.Code              43.601570
Airport.Name              40.708074
Injury.Severity            1.124999
Aircraft.damage            3.593246
Aircraft.Category         63.677170
Registration.Number        1.554748
Make                       0.070875
Model                      0.103500
Amateur.Built              0.114750
Number.of.Engines          6.844491
Engine.Type                7.982990
FAR.Description           63.974170
Schedule                  85.845268
Purpose.of.flight          6.965991
Air.carrier               81.271023
Total.Fatal.Injuries      12.826109
Total.Serious.Injuries    14.073732
Total.Minor.Injuries      13.424608
Total.Uninjured            6.650992
Weather.Condition          5.053494
Broad.phase.of.flight     30.560587
Report.Status              7.181991
Publication.Date          15.492356
dtype: float64

In [95]:
# Identify columns with more than 25% missing data
percentage_missing = 0.25
dropped_columns = df.columns[df.isnull().mean() > percentage_missing]

In [96]:
dropped_columns

Index(['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name',
       'Aircraft.Category', 'FAR.Description', 'Schedule', 'Air.carrier',
       'Broad.phase.of.flight'],
      dtype='object')

In [97]:
df = df.drop(columns=dropped_columns)

In [98]:
df.info

<bound method DataFrame.info of              Event.Id Investigation.Type Accident.Number  Event.Date  \
0      20001218X45444           Accident      SEA87LA080  1948-10-24
1      20001218X45447           Accident      LAX94LA336  1962-07-19
2      20061025X01555           Accident      NYC07LA005  1974-08-30
3      20001218X45448           Accident      LAX96LA321  1977-06-19
4      20041105X01764           Accident      CHI79FA064  1979-08-02
...               ...                ...             ...         ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26
88885  20221227106494           Accident      ERA23LA095  2022-12-26
88886  20221227106497           Accident      WPR23LA075  2022-12-26
88887  20221227106498           Accident      WPR23LA076  2022-12-26
88888  20221230106513           Accident      ERA23LA097  2022-12-29

              Location        Country Injury.Severity Aircraft.damage  \
0      MOOSE CREEK, ID  United States        Fatal(2)       Destroyed
1       BRIDGEPORT, CA  United States        Fatal(4)       Destroyed
2        Saltville, VA  United States        Fatal(3)       Destroyed
3           EUREKA, CA  United States        Fatal(2)       Destroyed
4           Canton, OH  United States        Fatal(1)       Destroyed
...                ...            ...             ...             ...
88884    Annapolis, MD  United States           Minor             NaN
88885      Hampton, NH  United States             NaN             NaN
88886       Payson, AZ  United States       Non-Fatal     Substantial
88887       Morgan, UT  United States             NaN             NaN
88888       Athens, GA  United States           Minor             NaN

      Registration.Number                        Make  ... Number.of.Engines  \
0                  NC6404                     Stinson  ...               1.0
1                  N5069P                       Piper  ...               1.0
2                  N5142R                      Cessna  ...               1.0
3                  N1168J                    Rockwell  ...               1.0
4                   N15NY                      Cessna  ...               NaN
...                   ...                         ...  ...               ...
88884              N1867H                       PIPER  ...               NaN
88885              N2895Z                    BELLANCA  ...               NaN
88886              N749PJ  AMERICAN CHAMPION AIRCRAFT  ...               1.0
88887              N210CU                      CESSNA  ...               NaN
88888              N9026P                       PIPER  ...               NaN

         Engine.Type  Purpose.of.flight Total.Fatal.Injuries  \
0      Reciprocating           Personal                  2.0
1      Reciprocating           Personal                  4.0
2      Reciprocating           Personal                  3.0
3      Reciprocating           Personal                  2.0
4                NaN           Personal                  1.0
...              ...                ...                  ...
88884            NaN           Personal                  0.0
88885            NaN                NaN                  0.0
88886            NaN           Personal                  0.0
88887            NaN           Personal                  0.0
88888            NaN           Personal                  0.0

      Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured  \
0                        0.0                   0.0              0.0
1                        0.0                   0.0              0.0
2                        NaN                   NaN              NaN
3                        0.0                   0.0              0.0
4                        2.0                   NaN              0.0
...                      ...                   ...              ...
88884                    1.0                   0.0              0.0
88885                    0.0                   0.0              0.0
88886                    0.0                   0.0              1.0
88887                    0.0                   0.0              0.0
88888                    1.0                   0.0              1.0

       Weather.Condition   Report.Status Publication.Date
0                    UNK  Probable Cause              NaN
1                    UNK  Probable Cause       19-09-1996
2                    IMC  Probable Cause       26-02-2007
3                    IMC  Probable Cause       12-09-2000
4                    VMC  Probable Cause       16-04-1980
...                  ...             ...              ...
88884                NaN             NaN       29-12-2022
88885                NaN             NaN              NaN
88886                VMC             NaN       27-12-2022
88887                NaN             NaN              NaN
88888                NaN             NaN       30-12-2022

[88889 rows x 22 columns]>

In [99]:
# Select columns with numerical data types
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

# Print the numerical columns
print("Numerical columns:", numerical_columns)

Numerical columns: Index(['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [100]:
# Fill missing values in each numerical column with the median of that column
df[numerical_columns] = df[numerical_columns].apply(lambda x: x.fillna(x.median()))

In [101]:
#Fill categorical data with mode
# Select categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Fill missing values in each categorical column with the mode of that column
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

In [102]:
print (categorical_columns)

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Injury.Severity', 'Aircraft.damage',
       'Registration.Number', 'Make', 'Model', 'Amateur.Built', 'Engine.Type',
       'Purpose.of.flight', 'Weather.Condition', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [103]:
df.isnull().values.sum()

0

In [104]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88889 non-null  object
 5   Country                 88889 non-null  object
 6   Injury.Severity         88889 non-null  object
 7   Aircraft.damage         88889 non-null  object
 8   Registration.Number     88889 non-null  object
 9   Make                    88889 non-null  object
 10  Model                   88889 non-null  object
 11  Amateur.Built           88889 non-null  object
 12  Number.of.Engines       88889 non-null  float64
 13  Engine.Type             88889 non-null  object
 14  Purpose.of.flight       88889 non-null  object
 15  Total.Fatal.Injuries    88889 non-null  float64
 16  Total.Serious.Injuries  88889 non-null  float64
 17  Total.Minor.Injuries    88889 non-null  float64
 18  Total.Uninjured         88889 non-null  float64
 19  Weather.Condition       88889 non-null  object
 20  Report.Status           88889 non-null  object
 21  Publication.Date        88889 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB
None

### Exploratory Data Analysis
Now that the dataset is cleaned, we want to perform some exploratory analysis to understand distributions, correlations, and potential patterns.

In [105]:
# Select numeric columns (int64, float64)
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
print("Numeric columns in the dataset:")
print(numeric_columns)

Numeric columns in the dataset:
Index(['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [106]:
df[['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured']].describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,88889.000000,88889.000000,88889.000000,88889.000000,88889.000000
mean,1.136552,0.564761,0.240491,0.309127,5.037755
std,0.432545,5.126649,1.434614,2.083715,26.990914
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

### Observations
Looking at the Number of Engines: The majority of aircraft in this dataset are single-engine planes, with a few having multiple engines, up to 8.
Most aviation incidents result in no fatalities, but there are rare catastrophic events with large fatality numbers.
Similar to fatalities, serious injuries are rare in most incidents, but there are occasional incidents with many serious injuries.
Most aviation incidents do not result in minor injuries, but a few incidents involve large numbers of minor injuries.
While many incidents have a few or no uninjured people, some incidents involve many uninjured individuals, possibly from large commercial flights where many passengers escape without injury.

### Overall Insights:
1. Most incidents in this dataset involve small planes with a single engine and no injuries or fatalities.
2. Severe outcomes (fatalities, serious injuries) are rare but when they occur, they can be catastrophic, leading to significant losses of life.
3. The variability in injuries and fatalities is significant, with a few incidents involving very large numbers of injured or uninjured individuals, likely driven by large commercial aircraft accidents.
4. The max values for fatalities, serious injuries, and uninjured passengers indicate the presence of outlier events, possibly large-scale disasters or accidents.
This suggests that the aviation data captures both small-scale incidents with minimal impact and larger, rarer accidents with many casualties.

In [107]:
covariance_matrix = df[['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured']].cov()
print(covariance_matrix)

                        Number.of.Engines  Total.Fatal.Injuries  \
Number.of.Engines                0.187095              0.112624
Total.Fatal.Injuries             0.112624             26.282529
Total.Serious.Injuries           0.017516              0.794799
Total.Minor.Injuries             0.047125              0.381340
Total.Uninjured                  4.024421             -2.076775

                        Total.Serious.Injuries  Total.Minor.Injuries  \
Number.of.Engines                     0.017516              0.047125
Total.Fatal.Injuries                  0.794799              0.381340
Total.Serious.Injuries                2.058118              0.646890
Total.Minor.Injuries                  0.646890              4.341866
Total.Uninjured                       1.630793              5.530753

                        Total.Uninjured
Number.of.Engines              4.024421
Total.Fatal.Injuries          -2.076775
Total.Serious.Injuries         1.630793
Total.Minor.Injuries           5.530753
Total.Uninjured              728.509420

### Key Observations:

1. Covariance Between Number of Engines and Other Variables:
   - Number of Engines & Total Fatal Injuries: The covariance is 0.1126, which is a weak positive relationship, indicating that as the number of engines increases, there is a slight increase in fatal injuries.
   - Number of Engines & Total Serious Injuries: The covariance is 0.0175, nearly zero, suggesting no significant relationship between the number of engines and serious injuries.
   - Number of Engines & Total Uninjured: The covariance is 4.0244, suggesting a moderate positive relationship between the number of engines and uninjured passengers, meaning more engines might be associated with more uninjured cases.

2. Covariance Between Fatal Injuries and Other Injury Types:
- Fatal Injuries & Serious Injuries: Covariance is 0.7948—a positive relationship, indicating that more fatal injuries are often associated with an increase in serious injuries.
- Fatal Injuries & Minor Injuries: Covariance is 0.3813—a weaker positive relationship, suggesting that more fatal injuries are also linked with an increase in minor injuries.
- Fatal Injuries & Uninjured: Covariance is -2.0768—a negative relationship, meaning that as fatal injuries increase, the number of uninjured passengers tends to decrease, which aligns with expectations in more severe accidents.

3. Covariance Among Injury Types:
- Serious Injuries & Minor Injuries: Covariance is 0.6469—a positive relationship, meaning that accidents with more serious injuries tend to also have more minor injuries.
- Serious Injuries & Uninjured: Covariance is 1.6308—a positive relationship, suggesting that accidents with serious injuries might also have more uninjured individuals, possibly in cases where only a few are severely injured while others are unharmed.
- Minor Injuries & Uninjured: Covariance is 5.5308—a strong positive relationship, indicating that in less severe accidents, there are often both minor injuries and many uninjured individuals.
  
4. Variance of Total Uninjured:
- The variance for Total Uninjured is 728.5094, which is much higher than for other variables, indicating a wide range in the number of uninjured individuals across incidents.
- This large variance suggests that some accidents result in many uninjured individuals, while others have very few or none, highlighting the diverse severity of accidents in the dataset.

In [108]:
correlation_matrix = df[['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured']].corr()
print(correlation_matrix)

                        Number.of.Engines  Total.Fatal.Injuries  \
Number.of.Engines                1.000000              0.050789
Total.Fatal.Injuries             0.050789              1.000000
Total.Serious.Injuries           0.028226              0.108066
Total.Minor.Injuries             0.052285              0.035698
Total.Uninjured                  0.344710             -0.015009

                        Total.Serious.Injuries  Total.Minor.Injuries  \
Number.of.Engines                     0.028226              0.052285
Total.Fatal.Injuries                  0.108066              0.035698
Total.Serious.Injuries                1.000000              0.216400
Total.Minor.Injuries                  0.216400              1.000000
Total.Uninjured                       0.042116              0.098340

                        Total.Uninjured
Number.of.Engines              0.344710
Total.Fatal.Injuries          -0.015009
Total.Serious.Injuries         0.042116
Total.Minor.Injuries           0.098340
Total.Uninjured                1.000000

### Key Observations

1. Number of Engines:
   - Correlation with Total Fatal Injuries: 0.0508—very weak positive correlation, indicating minimal relationship between the number of engines and fatal injuries.
   - Correlation with Total Serious Injuries: 0.0282—almost zero, suggesting no significant relationship.
   - Correlation with Total Minor Injuries: 0.0523—also very weak, showing no meaningful correlation.
   - Correlation with Total Uninjured: 0.3447—a moderate positive correlation, suggesting that as the number of engines increases, there may be a tendency for more uninjured individuals.

2. Total Fatal Injuries:
   - Correlation with Total Serious Injuries: 0.1081—a weak positive correlation, indicating a slight tendency for fatal injuries to be associated with serious injuries.
   - Correlation with Total Minor Injuries: 0.0357—very weak, indicating minimal relationship.
   - Correlation with Total Uninjured: -0.0150—essentially no correlation, suggesting that the number of fatalities does not significantly affect the number of uninjured individuals.

3. Total Serious Injuries:
   - Correlation with Total Minor Injuries: 0.2164—a moderate positive correlation, indicating that more serious injuries are associated with more minor injuries.
   - Correlation with Total Uninjured: 0.0421—very weak, indicating little relationship with uninjured individuals.

4. Total Minor Injuries:
   - Correlation with Total Uninjured: 0.0983—a weak positive correlation, suggesting a slight tendency for more minor injuries to occur alongside more uninjured individuals.

In [ ]:
plt.figure(figsize=(10, 6))
sns.lineplot(data=df, x='Event.Date', y='Total.Fatal.Injuries')
plt.title('Trend of Total Fatal Injuries Over Time')
plt.xticks(rotation=45)
plt.ylabel('Total Fatal Injuries')
plt.grid()
plt.show()

C:\Users\HomePC\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
C:\Users\HomePC\anaconda3\Lib\site-packages\seaborn\_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df['Total.Fatal.Injuries'], bins=30, kde=True)
plt.title('Distribution of Total Fatal Injuries')
plt.xlabel('Total Fatal Injuries')
plt.ylabel('Frequency')
plt.grid()
plt.show()

In [ ]:
sns.pairplot(df[['Number.of.Engines', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']])
plt.suptitle('Pair Plot of Injury Types and Number of Engines', y=1.02)
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.violinplot(data=df, x='Weather.Condition', y='Total.Uninjured')
plt.title('Distribution of Total Uninjured by Weather Condition')
plt.xticks(rotation=45)
plt.ylabel('Total Uninjured')
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
avg_fatal_injuries = df.groupby('Aircraft.Category')['Total.Fatal.Injuries'].mean().reset_index()
sns.barplot(data=avg_fatal_injuries, x='Aircraft.Category', y='Total.Fatal.Injuries')
plt.title('Average Total Fatal Injuries by Aircraft Category')
plt.xticks(rotation=45)
plt.ylabel('Average Total Fatal Injuries')
plt.grid()
plt.show()

In [ ]:


# Assuming 'aviation_data_cleaned_revised' is your cleaned dataframe
# Group the data by 'Number.of.Engines' and calculate the sum of 'Total.Uninjured'
engine_uninjured = df.groupby('Number.of.Engines')['Total.Uninjured'].sum()

# Plotting the bar chart
plt.figure(figsize=(10, 6))
engine_uninjured.plot(kind='bar', color='skyblue')

# Adding labels and title
plt.title('Total Uninjured Passengers by Number of Engines', fontsize=16)
plt.xlabel('Number of Engines', fontsize=14)
plt.ylabel('Total Uninjured Passengers', fontsize=14)

# Display the chart
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [ ]:


# Assuming 'aviation_data_cleaned_revised' is your cleaned dataframe
# Create a box plot for 'Total.Uninjured' grouped by 'Aircraft.damage' (accident categories)

plt.figure(figsize=(10, 6))
sns.boxplot(x='Aircraft.damage', y='Total.Uninjured', data=df, palette="Set3")

# Adding labels and title
plt.title('Variance of Uninjured Passengers by Accident Categories', fontsize=16)
plt.xlabel('Accident Category (Aircraft Damage)', fontsize=14)
plt.ylabel('Total Uninjured Passengers', fontsize=14)

# Display the plot
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()